body{
  width: available;
  height: available;
}

.container{
  width: available;
  height: available;
  
}

.imgForLogo img {
  width: 8%;
  height: auto;
  padding-top: .5%;
  padding-bottom: .5%;
}

.imgForName img {
  width: 30%;
  height: auto;
}

.logopane{
  top: 0;
  position: sticky;
  width: 97%;
  min-height: 5em;
  background-color: beige;
  overflow: hidden;  
  padding-left: 3%;
}


.namepane{
background-color: green;
text-align: center;
  
}



.column {
  float: left;
  width: 33.33%;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.leftpane{
  height: available;
  padding-left: 1.5%;
  padding-right: 1.5%;
  min-height: 20em;
  float: left;
  background-color: #D8FFD8;
  padding-top: 1.5%;
  border-collapse: collapse;
}

.middlepane{
padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  min-height: 20em;
 float: left;
 background-color: white;
 border-collapse: collapse;
  text-align: center;
}

.rightpane{
  padding-top: 1.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  position: relative;
  min-height: 20em;
  float: left;
  background-color: #D8FFD8;
  border-collapse: collapse;
}


